body {
    margin: 0;
    overflow: hidden;
}
canvas {
    background: #000;
    display: block
}
#config {
    padding: 10px 0 10px 0;
    width: 100%;
    font-size: 24px;
    display: block;
}
#config select {
    font-size: 24px;

}
#config button {
    font-size: 24px;
}
#simulation {
    width: 100%;
    display:block;
}