body {
    margin: 0;
    overflow: hidden;
}
canvas {
    background: #000;
    display: block
}
#config {
    padding: 10px 0 10px 0;
    width: 100%;
    display: block;
}
#simulation {
    width: 100%;
    display:block;
}